<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="theHunterLog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.4.976" newVersion="2.0.4.976" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.batteries_v2" publicKeyToken="8226ea5df37bcae9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.4.976" newVersion="2.0.4.976" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <theHunterLog.Properties.Settings>
      <setting name="MainWindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainWindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MenuWindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MenuWindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SettingsWindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SettingsWindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NewLogWindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NewLogWindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SystemTabWindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SystemTabWindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LogWindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LogWindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TopWindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TopWindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Hunt_ROWindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Hunt_ROWindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value>en</value>
      </setting>
      <setting name="HideKey" serializeAs="String">
        <value>Scroll</value>
      </setting>
    </theHunterLog.Properties.Settings>
  </userSettings>
</configuration>